<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./tests/bootstrap.php"
    
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true">

    <testsuites>
        <testsuite name="yii2-batsg tests">
            <directory suffix=".php">tests/</directory>
        </testsuite>
    </testsuites>

    <logging>
        <log type="coverage-clover" target="./build/logs/clover.xml"/>
    </logging>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src/helpers/</directory>
        </whitelist>
    </filter>
</phpunit>